html, body {
    height: 100%;
    margin: 0;
    background-color: #d0cf87;}
  .grid2x2 {
    min-height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 50px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .box { margin: 20px; 
        border: 4px solid #6E4B62;
        border-radius: 15px;
        max-height: 100px;}
  .box1 { background-color: #AFD087; }
  .box2 { background-color: #AFD087; }
  .box3 { background-color: #AFD087; }
  .box4 { background-color: #AFD087; }
  .box5 { background-color: #AFD087; 
          min-width: 50%;
          margin-left: 440px}
.logocontainer{
   position: relative;

  }
img{
    width: 200px;
    position: absolute;
    margin-top: -83px;
    left: 44.8%;
}

a {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: large;
}

.multi {
    display: block;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: large;
    line-break: strict;
    flex-wrap: wrap;
}

.break {
  width: 100%;
}

input[type=text] {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: large;
}

input[type=number] {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
    color: black;
    font-size: large;
}

select {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
    color: black;
    font-size: large;
}

input[type=submit] {
  border-radius: 1px;
  border: 2px solid black;
  width: 100px;
  height: 28px;
}


table, th, td {
  border: 2px solid #6E4B62;
  font-size: x-large;
  font-family: Helvetica, sans-serif;
}


.grid1x1 {
  min-height: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1px;
}
.grid1x1 > div {
  display: flex; 
  flex-basis: calc(50% - 300px);  
  justify-content: center;
  flex-direction: column;
}
.grid1x1 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.boxy { margin: 20px; }
.boxy1 { margin-left: 500px; 
margin-top: -590px;}
.boxy2 { margin-left: 40px; 
  margin-top: -400px;}
.boxy3 { margin-right: 100px; }
.boxy4 { background-color: #AFD087; }
.boxy5 { background-color: #AFD087; }

.deleted {
  font-size: xx-large;
}